<div class="product-detail-container">
  <div class="product-detail-card">
    <img src="{{product.thumbnail}}" alt="{{product.title}}" class="detail-img">

    <div class="detail-info">
      <h1 class="detail-title">{{product.title}}</h1>
      <p class="detail-desc">{{product.description}}</p>
      <p class="detail-category"><strong>Categoría:</strong> {{product.category}}</p>
      <p class="detail-price">Precio: ${{product.price}}</p>
      <p class="detail-stock">Stock disponible: {{product.stock}}</p>

      <a href="/" class="btn-back">Volver</a>
    </div>
  </div>
</div>
