<div class="products-container">
  <h1>Lista de Productos con Webstocks</h1>

  <h2>Agregar Producto</h2>
  <form id="addProductForm" class="product-form">
    <input type="text" name="title" placeholder="Nombre del producto" class="form-input" required>
    <textarea name="description" placeholder="Descripción..." class="form-textarea"></textarea>
    <input type="text" name="code" placeholder="Código del producto" class="form-input">
    <input type="number" name="price" placeholder="Precio" class="form-input" required>
    <input type="number" name="stock" placeholder="Stock" class="form-input" required>
    <input type="text" name="category" placeholder="Categoría" class="form-input">
    <input type="file" name="thumbnail" class="form-file">

    <button type="submit" class="btn-submit">Agregar Producto</button>
  </form>

  <div class="products-grid">
    {{#each products}}
      <div class="product-card" data-id={{this.id}}>
        <img src={{this.thumbnail}} alt={{this.title}} class="product-img">

        <div class="product-info">
          <h2 class="product-title">{{this.title}}</h2>
          <p class="product-desc">{{this.description}}</p>
          <p class="product-category"><strong>Categoría:</strong> {{this.category}}</p>
          <p class="product-price">${{this.price}}</p>
          <p class="product-stock">Stock: {{this.stock}}</p>

          <button class="btn-delete">Eliminar</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  const form = document.getElementById("addProductForm");

  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const formData = new FormData(form);

    const res = await fetch("http://localhost:8080/realtimeproducts", { method: "POST", body: formData });
  })

  socket.on("productAdded", (product) => {
    const grid = document.querySelector(".products-grid");

    const card = document.createElement("div");

    card.classList.add("product-card");
    card.setAttribute("data-id", product.id);

    card.innerHTML = `
      <img src="${product.thumbnail}" alt="${product.title}" class="product-img">

      <div class="product-info">
        <h2 class="product-title">${product.title}</h2>
        <p class="product-desc">${product.description}</p>
        <p class="product-category"><strong>Categoría:</strong> ${product.category}</p>
        <p class="product-price">$${product.price}</p>
        <p class="product-stock">Stock: ${product.stock}</p>
        <button class="btn-delete">Eliminar</button>
      </div>
    `;

    grid.appendChild(card);
  });

  // Eliminar productos
  document.addEventListener("click", (event) => {
    if(event.target.classList.contains("btn-delete")) {
      const card = event.target.closest(".product-card");
      const id = card.getAttribute("data-id");

      socket.emit("deleteProduct", id);
    }
  });

  socket.on("productDeleted", (id) => {
    const card = document.querySelector(`.product-card[data-id="${id}"]`);

    if(card) card.remove();
  })
</script>